.App {
  text-align: center;
  padding-bottom: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 20px 80px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 30px;
}

.remove-button {
  align-self: flex-end;
  width: 25px;
  left: 0px;
  text-align: center;
  background-color: transparent;
  border: 1px solid red;
  border-radius: 3px;
  color: red;
  cursor: pointer;
}

input {
  margin-top: 10px;
  padding: 10px;
}

.submit-button {
  width: 100px;
}